<div class="container">
  {{#each model as |question|}}
    <div class="well">
       <h4>{{#link-to 'question' question.id}}{{question.title}}{{/link-to}}</h4>
       <h5>by {{question.author}} </h5>
    </div>
  {{/each}}

{{new-question save="save"}}
</div>
