<div class="container">
  <h2> Your Neighborhood Messaage Board </h2>
  {{#each model as |question|}}
  <ul>
    <p>{{question.author}}</p>
    <p>{{question.title}}</p>
    <p>{{question.body}}</p>
  </ul>
  {{/each}}
</div>
{{outlet}}
