<div class="container">
  <h2> Your Neighborhood Message Board </h2>
  <ul>
  {{#each model as |question|}}

    <p>{{question.author}}</p>
    <p>{{question.title}}</p>
    <p>{{question.body}}</p>

  {{/each}}
</ul>
</div>
{{outlet}}
